server:
  port: 8081 # 서버 포트

spring:
  application:
    name: devpath

  # OAuth2 설정
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            # 깃허브에서 가져올 정보 범위 (이메일과 기본 프로필 정보)
            scope:
              - read:user
              - user:email

  # 스프링이 최상단 루트에 있는 .env 파일을 강제로 읽어오도록 지시
  config:
    import: optional:file:.env[.properties]

  # PostgreSQL 설정
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:devpath_db}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  # sql 자동 실행 옵션
  sql:
    init:
      mode: always

  # JPA 및 하이버네이트 설정 (들여쓰기 정렬 완료 ✨)
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000

  # Redis 설정
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD}

logging:
  level:
    org.hibernate.SQL: debug

# JWT 설정
jwt:
  # 256비트 이상의 아주 복잡한 비밀키
  secret: c3ByaW5nLWJvb3QtZGV2cGF0aC1zZWNyZXQta2V5LXRlc3QtZ2VuZXJhdGUtMjAyNjAyMjQ=
  access-token-expiration: 3600000 # 1시간 (밀리초)
  refresh-token-expiration: 1209600000 # 14일 (밀리초)